@page
@model ProiectBun.Pages.Utilaje.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Toate utilajele disponibile!</h1>

<p>
    <a asp-page="Create">Create new</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Gasit dupa Numele Utilajului / Numele Soferului:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                
                <a asp-page="./Index" asp-route-sortOrder="@Model.NumeUtilajSort">
                @Html.DisplayNameFor(model => model.Utilaj[0].NumeUtilaj)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SoferSort">
                @Html.DisplayNameFor(model => model.Utilaj[0].Sofer)
                </a>
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Utilaj[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilaj[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilaj[0].FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilaj[0].Marca.MarcaName)
            </th>
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Utilaj[0].UtilajCategories)
            </th>

           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UtilajD.Utilaje)
        {
            string selectedRow = "";
            if (item.ID == Model.UtilajID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NumeUtilaj)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sofer.SoferName)
                </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.MarcaName)
                </td>
                <td>
                    @{
                        foreach (var category in item.UtilajCategories)
                        {
                            @category.Category.ID @: @category.Category.CategoryName <br />
                        }
                    }
                </td>
                





            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
